#############################################################
## standalone manager control.vm
## Brad Matlack 12-5-2001
#############################################################
## log the model parameters to the report file
$model

#set( $pkg = $model )
#set( $beans = $model.getBeans() )
#set( $path = $strings.getPackageAsPath($pkg.getName()))

## log
resourcepath: $resourcePath
output directory: $outputDirectory/$path

$files.mkdir("$outputDirectory/$path/manager")

## loop through each bean in the package
#foreach( $bean in $beans ) 
  ##================= jar path ==============================##
  #set( $template = "${resourcePath}manager.vm" )
  #set( $classname = $bean.getName() ) 
  #set( $packageName = $strings.concat([$pkg.getName(), ".manager"]) )
  ##set( $outputFile = $strings.concat([$classname, "Manager.java"]) )
  #set ($outputFile = "${path}/manager/${classname}Manager.java")
  ##=========================================================##
  $generator.parse($template, $outputFile, "","")
#end
